:root {
  color: #323232;
  background: #f8f8f8;
  font-family: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-synthesis: none;
}

html {
  min-width: 20rem;
  background: #f8f8f8;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
  background: #f8f8f8;
}

button,
input,
textarea {
  font: inherit;
}
